@model AllHousesViewModel

@{
    ViewBag.Title = "All Houses";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form method="get" asp-controller="House" asp-action="AllHouses" class="row mb-4 align-items-end">
    <div class="col-md-4">
        <label class="form-label">Category</label>
      
      
        <select asp-for="Query.CategoryId" class="dropdown">
            <option value="">All</option>
            <option value="Vila">Vilas</option>
        </select>
    </div>

    <div class="col-md-4">
        <label class="form-label">Search by text</label>
        <input type="text" name="searchTerm" class="form-control" placeholder="..." />
    </div>

    <div class="col-md-3">
        <label class="form-label">Sorting</label>
        <select name="sorting" class="form-control">
            <option value="newest">Newest</option>
            <option value="oldest">Oldest</option>
            <option value="priceAsc">Price Ascending</option>
            <option value="priceDesc">Price Descending</option>
        </select>
    </div>

    <div class="col-md-1">
        <button type="submit" class="btn btn-primary w-100">
            Search
        </button>
    </div>
</form>

<div class="text-center row">
    @foreach (var house in Model.Houses)
    {
        <div class="col-md-4 mb-4">
            <a asp-controller="House"
               asp-action="Details"
               asp-route-id="@house.Id"
               class="nav-link text-black">

                <div class="card h-100">
                    <img class="card-img-top" src="@house.ImageUrl" alt="House Image">

                    <div class="card-body">
                        <h5 class="card-title">@house.Name</h5>
                        <p class="card-text">@house.Address</p>
                    </div>
                </div>

            </a>
        </div>
    }
</div>